<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			CRUD Web Application
		</title>
		<style>
			table, th, td {
    			border: 1px solid black;
			}
		</style>
  	</head>
	<body>
		<h1><%= title %></h1>
			<form action="/addStudentData">
				<input type="submit" value="Add" style="height:25px; width:100px">
			</form>
			<table align="center" WIDTH=1200 HEIGHT=200>
				<tr>
    				<th>Roll Number</th>
    				<th>First Name</th>
    				<th>Last Name</th>
    				<th>Email ID</th>
    				<th>Class</th>
    				<th>Course</th>
    				<th>Select Option</th>
				</tr>
				<!--{{#each res}}-->
				<% console.log("Res Length: ", res.length) %>
				<% for(var i = 0; i < res.length; i++) { %>
					<tr>
						<td align="center"><%= res[i].rollNum %></td>
						<td align="center"><%= res[i].firstName %></td>
						<td align="center"><%= res[i].lastName %></td>
						<td align="center"><%= res[i].emailId %></td>
						<td align="center"><%= res[i].sClass %></td>
						<td align="center"><%= res[i].course %></td>
						<td align="center">
							<a href="/updateStudentData/<%= res[i].rollNum %>">Update</a>
							<a href="/deleteStudentData/<%= res[i].rollNum %>">Delete</a>
						</td>
					</tr>
				<% } %>	
				<!--{{/each}}-->
			</table>
  	</body>
</html>